In [1]:
from io import StringIO

import pandas as pd
from sklearn.preprocessing import Imputer

# Identifying missing values in tabular data
Before we discuss several techniques for dealing with missing values, let's create a simple example data frame from a Comma-separated Values (CSV) file to get a better grasp of the problem:

In [2]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

The `StringIO` function in the preceding code allows us to read the string assigned to `csv_data` into a pandas.DataFrame as if it was a regular CSV file on our hard drive.

For a larger DataFrame, it can be tedious to look for missing values manually; in this case, we can use the isnull method to return a DataFrame with Boolean values that indicate whether a cell contains a numeric value (False) or if data is missing (True).
Using the sum method, we can then return the number of missing values per column as follows:

In [44]:
 df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

## Eliminating samples or features with missing values

One of the easiest ways to deal with missing data is to simply remove the corresponding features (columns) or samples (rows) from the dataset entirely; rows with missing values can be easily dropped via the dropna method:

In [45]:
 df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

Similarly, we can drop columns that have at least one NaN in any row by setting the axis argument to 1:

In [46]:
 df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

## Imputing missing values

One of the most common interpolation techniques is mean imputation, where we simply replace the missing value with the mean value of the entire feature column. A convenient way to achieve this is by using the
Imputer class from scikit-learn, as shown in the following code:

In [47]:
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
imputed_data

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

Here, we replaced each NaN value with the corresponding mean, which is separately calculated for each feature column. If we changed the `axis=0` setting to `axis=1`, we'd calculate the row means. Other options for the strategy parameter are median or most_frequent, where the latter replaces the missing values with the most frequent
values. This is useful for imputing categorical feature values, for example, a feature column that stores an encoding of color names, such as red, green, and blue, and we will encounter examples of such data later in this chapter.

## Filling in missing values automatically

Another option is to fill in the missing values. We can use Panda's `fillna()` function to fill in missing values in a dataframe for us. One option we have is to specify what we want the NaN values to be replaced with. Here we will replace all the NaN values with 0.

In [48]:
df.fillna(0)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   0.0  8.0
2  10.0  11.0  12.0  0.0

I could replace missing values with whatever values comes after it in the same column :

In [49]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [50]:
df.fillna(method='bfill').fillna(0)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0  12.0  8.0
2  10.0  11.0  12.0  0.0