In [13]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import chi2_contingency
import math

plt.rcParams['figure.figsize']= [15,15]

df=pd.read_csv('chi_square-housing.csv')
headers= list(df.columns)
df

       buyer_type  Flat  Bungalow  Detached house  Terrace
0     Single Male    40         4               8       16
1   Single Female    30         4              16        7
2  Married Couple    16        14              26       45
3          Family    10        16              42       39

In [14]:
remove_labels= df.iloc[0:5,1:5]
chi2, p_value, dof, expected_freq= chi2_contingency(np.array(remove_labels))
print('Chi-Square:', chi2)
print('p-value:', round(p_value,8))
print('Degrees of freedom:', dof)
headers

ex= pd.DataFrame(expected_freq, columns=headers[1:5])

male= df.iloc[0:1, 1:].append(ex.iloc[0])
female= df.iloc[1:2,1:5].append(ex.iloc[1])
married= df.iloc[2:3, 1:5].append(ex.iloc[2])
fam= df.iloc[3:4, 1:5].append(ex.iloc[3])
combined_df= male.append(female).append(married).append(fam)

combined_df.insert(0,'Buyer Type', ['Male observed', 'Male expected', 'Female Observed', 'Female Expected',
                                    'Married observed', 'Married Expected', 'Family observed', 'Family Expected'])

combined_df.round(2)

Chi-Square: 82.50366081348409
p-value: 0.0
Degrees of freedom: 9

         Buyer Type   Flat  Bungalow  Detached house  Terrace
0     Male observed  40.00      4.00            8.00    16.00
0     Male expected  19.60      7.76           18.79    21.85
1   Female Observed  30.00      4.00           16.00     7.00
1   Female Expected  16.43      6.50           15.75    18.32
2  Married observed  16.00     14.00           26.00    45.00
2  Married Expected  29.12     11.53           27.90    32.45
3   Family observed  10.00     16.00           42.00    39.00
3   Family Expected  30.85     12.21           29.56    34.38

with a p-value less than 0.05, we are able to reject the null hypothesis (no association between the variables)

In [28]:
def cramersV(nrows, ncols, chisquared):
    #source: https://gist.github.com/dtemkin/04e653c8f19e8ac0c4965b797ba2af2b
   nobs = nrows*ncols
   phi = chisquared/nobs
   V = math.sqrt((phi)/(nobs*min(nrows-1, ncols-1)))
   return np.array([V, phi])

In [32]:
row, column = df.shape
V, phi= cramersV(row, (column-1), chi2)

In [34]:
print('Cramers V: ', V)
print('Phi: ', phi)

Cramers V:  0.32776003674063753
Phi:  5.156478800842756

With this Cramer's V, we are able to say the association between buyer and housing type is medium.