# Chi square 


Test of association between buyer type and house type

In [17]:
install.packages("lsr")

Installing package into 'C:/Users/MIMBODEN/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'lsr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\MIMBODEN\AppData\Local\Temp\RtmpQ7UubH\downloaded_packages

In [18]:
library(lsr)
df<-read.delim("chi_square-housing.csv", row.names=1, sep=",")
df

               Flat Bungalow Detached.house Terrace
Single Male    40    4        8             16
Single Female  30    4       16              7
Married Couple 16   14       26             45
Family         10   16       42             39

In [12]:

chi.square<-chisq.test(df)
chi.square

	Pearson's Chi-squared test

data:  df
X-squared = 82.504, df = 9, p-value = 5.134e-14

Significance obtained, so association between buyer type and buyer found.
Tables for Observed and Expected counts found below.

In [13]:
chi.square$observed

               Flat Bungalow Detached.house Terrace
Single Male    40    4        8             16
Single Female  30    4       16              7
Married Couple 16   14       26             45
Family         10   16       42             39

In [14]:
round(chi.square$expected,2)

               Flat  Bungalow Detached.house Terrace
Single Male    19.60  7.76    18.79          21.85
Single Female  16.43  6.50    15.75          18.32
Married Couple 29.12 11.53    27.90          32.45
Family         30.85 12.21    29.56          34.38

Residuals of 2-3 demonstrate significance. Residuals table found below.

In [15]:
round(chi.square$residuals,2)

               Flat  Bungalow Detached.house Terrace
Single Male     4.61 -1.35    -2.49          -1.25
Single Female   3.35 -0.98     0.06          -2.64
Married Couple -2.43  0.73    -0.36           2.20
Family         -3.75  1.08     2.29           0.79

Cramers V shows a medium strength of association.

In [19]:
cramersV(df)

[1] 0.2873782